GCP_PROJECT_ID=your-project-id
GCP_LOCATION=your-gcp-location
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_APPLICATION_CREDENTIALS=your-google-application-credentials
VERTEX_AI_API=your-vertex-ai-api-key
CLOUD_STORAGE_API=your-cloud-storage-api-key
DATASTORE_ID=projects/your-project-id/locations/global/collections/default_collection/dataStores/your-datastore-id